<!-- Hard Skills Section -->
<section id="hard-skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hard Skills</h2>
                <h3 class="section-subheading text-muted">If you wanna learn more about my soft skills, check this page <a href="/about">About me</a></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-product-hunt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Product</h4>
                <p class="text-muted"> #ProductManagement #ProductStrategy #Vision #Roadmap #ProductBacklog <br> <em>Build the right product for the right people at the right time</em> </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">UX Design</h4>
                <p class="text-muted">#UX #UXDesign #UserTesting #UserResearch #Usability #CustomerJourney #ExperienceMaps <br> <em> UX with people for people</em></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Qualité Web</h4>
                <p class="text-muted">#OPQUAST #OpquastCertified #QualityManagement #A11Y #RGAA #WCAG #SEO <br> <em>Think about all your users, inclusive approach</em></p>
            </div>
        </div>
    </div>
</section>
