<!-- timeline Section -->
<section id="timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Timeline</h2>
          <h3 class="section-subheading text-muted">To know more about me...</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
        <div class="timeline-image">
        <img class="img-circle img-responsive"
        src="img/timeline/logo-atecna.jpg" alt="">
      </div>

      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>2017-now</h4>
          <h4 class="subheading">Product Owner</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">From the user research to the conception of
            the interface and the evaluation of the product, responsible of
            build the right product for the right people at the right time.
            Building the product with people and for people, in an inclusive
            approach.
            Available for contracts, you can contact me for more informations.
          </p>

          <li>
        <div class="timeline-image">
        <img class="img-circle img-responsive"
        src="img/timeline/logo-wonderful.jpg" alt="">
      </div>

      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>2011-17</h4>
          <h4 class="subheading">Product Manager and Web Quality Responsible
          - Wonderful
          </h4>
        </div>
        <div class="timeline-body">
            <p class="text-muted">Product Manager (2011-2017) and Web Quality
              Responsible (2014-2017) in the Wonderful's consulting agency.
              Multi-product management, manager of the product roadmap and
              improvements. Definition and monitoring of the product vision
              and key performance indicators (KPIs). Tracking the delivery
              produced during Scrum and Lean releases. Web quality Responsible
              and quality management of the agency's site park. Conduct
              workshops on the user experience (design workshops sprint,
              crazy 8, etc.) as well as on Web quality (website audit practice
              and Opquast training for certification to 10 people at the agency)
              and on product management (product box workshops). Manager of
              the client budget, in charge of budget reporting on management
              tools (LogiPub and Domino) and co-head of management of the
              cluster. Conduct user interviews, user journeys and user tests.
              Definition of personas, user paths and usage scenarios through
              user stories. Design of wireframes (under Sketch) and low-fi
              prototypes (under Marvel). Implementation of back office training,
              Google Analytics and social media strategy.
            <a href="http://wonderful.fr">See the website of Wonderful agency.
            </a>
            </p>
        </div>
        </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-sudweb.jpg" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>2014-2017
              </h4>
              <h4 class="subheading">Co-organization Sud Web conference
              </h4>
          </div>
        <div class="timeline-body">
          <p class="text-muted">President of Sud Web association (2015-2017).
            Co-organization of the annual itinerant conference cycle in the
            South of France "Sud Web" in 2015 in Montpellier, in 2016 in
            Bordeaux and in 2017 in Aix-en-Provence. Conferences over 2 days: a
            day focus on talks and lightnings talks about feedbacks to feed our
            thoughts, open to other cultures and better understand the different
            professions of the Web and a self-organized day in open forum format
            where all participants become the actors of the day by co-designing
            the program. Involvement in defining the vision of the team through
            facilitation of workshops, the program (setting up an open forum on
            the 2nd day vs scheduled workshops, curation speakers), training
            speakers, sponsoring (search for sponsors and retrospective after
            event), logistics (choice of places, catering, mailings, etc.),
            facilitation on the day.
            <a href="https://sudweb.fr/">See the website of Sud Web.</a>
          </p>
        </div>
        </div>
          </li>
          <li>
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-flupa-ux-days.jpg" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2016-2017</h4>
            <h4 class="subheading">Co-organization Flupa UX-Days conferences</h4>
          </div>
        <div class="timeline-body">
            <p class="text-muted">Member of the Flupa board, French-speaking
              association of the professionals of the user experience. Member of
              the Flupa teams committee, French-speaking network (France,
              Luxembourg and Belgium), co-organizer of Flupa UX-Days 2017
              (the big annual event), co-organizer of the life of Flupa
              association and co-organizer of Montpellier UX Flupa (afterworks
              organization, user testing workshops, etc.). Involvement in the
              research, selection and training of speakers, searching for
              sponsorship and internal organization of the association.
              <a href="http://uxday.flupa.eu/">See the website of Flupa UX-Days.
              </a>
            </p>
        </div>
        </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-flupa-ux-camp.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>25 and 26 november 2016</h4>
          <h4 class="subheading">Co-organization of the 1st UX Barcamp Flupa
            in France (Bordeaux)</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">Co-organization of the 1st UX Barcamp Flupa
            in France, realised at Bordeaux (France). Co-organization of the
            event and co-facilitation of the UX Barcamp day.
            <a href="http://uxcamp.flupa.eu/edition-2016/">
              See the website of UX Barcamp (2016).
            </a>
          </p>
        </div>
        </div>
        </li>
        <li>
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-wis.jpg" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2016</h4>
            <h4 class="subheading">Professor of Web Quality (Opquast) -
              WIS School</h4>
          </div>
        <div class="timeline-body">
          <p class="text-muted">Conception of courses about the learning of Web
            Quality and Opquast (Open Quality Standards) referential. Student's
            formation in France of Web Quality. Organization of workshops on Web
            Quality throught the wireframing steps and website's audits.
            Student's preparation to the Opquast certification and animation
            of workshops.</p>
        </div>
        </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-opquast-certified.jpg" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2015</h4>
            <h4 class="subheading">Opquast certification</h4>
          </div>
        <div class="timeline-body">
          <p class="text-muted">Obtention of the Opquast certification
            (1st French certification) throught Responsible of Web Quality on
            the Opquast Partners network.
          </p>
        </div>
        </div>
        </li>
        <li>
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/livre-scrum.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>2015</h4>
          <h4 class="subheading">Co-redaction of the product definition
            chapter product - Scrum book (4 edition) by Claude Aubry
          </h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">Co-redaction of the 14 chapter about the
            product definition in the Scrum book by the author: Claude Aubry.
            Vulgarization of the UX design concept in the agile methodology.</p>
        </div>
        </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-circle img-responsive"
          src="img/timeline/logo-opquast-partners.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>2014</h4>
          <h4 class="subheading">Web Quality Responsible - Opquast partners</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">Evolution of my rule in the Wonderful agency
            with the hat of Web Quality Responsible. Formation with Elie Sloïm
            and Laurent Denis in 2014, integration of the Opquast partners
            network, annual sharing at the office of Mozilla every year.
          </p>
        </div>
        </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</section>
