<!DOCTYPE html>
<meta lang="fr-FR" dir="ltr">

<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include gtm.html %}

    <header id="header" class="header" aria-label="Entête du site">
      {% include nav.html %}
      {% include hero.html %}
    </header>
    
    {% include hard_skills.html %}
    {% include portfolio_grid.html %}
    {% include timeline.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
