<!DOCTYPE html>
<meta lang="fr-FR" dir="ltr">
<html class="full">

  {% include head.html %}

      <body id="page-top" class="index body-legal">

      {% include gtm.html %}

      <header class="header-legal">
        {% include nav.html %}
        <h1>Mentions légales</h1>
      </header>

      <section class="section-legal">
        <h2>Copyright - creations</h2>
        <p>My texts are distributed under
          <a href='https://creativecommons.org/licenses/by-nc-nd/2.0/fr/'>
            Licence Creative Commons Attribution - No commercial use -
            No modification 2.0 France</a> (CC BY-NC-ND 2.0 FR).
        </p>
        <h2>Privacy policy</h2>
        <p>
          The consultation of the site
          <a href='http://www.uxperiment.fr'>uxperiment.fr</a>
          may use cookies on your computer for statistical site analysis
          purposes only.<br>
          This site is exempt from declaration to the CNIL, with regard to the
          <a href='https://www.cnil.fr/fr/dispense/di-006-sites-web-personnels-ou-blogs'>Dispense DI-006.</a>
        </p>
      </section>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
